.col-md-4,.col-sm-6 {
    display:inline-block;
    height: 500px;
    text-align: center;
    vertical-align: top;
    /* margin-left:5px; */
    z-index:0;
}
/* .productDetail{
    position: fixed;
    width: 60vw;
    height:30vw;
    margin-top:100px;
    margin-left:20vw;
    z-index:1;
  }
  .productDetail::after{
    content: "";
    background:rgb(235, 218, 136);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    border-radius: 25px;
    border: 2px solid black;
  }  */


  .picsum-img-wrapper{
      width:100%;
  }
 .popUp{
      display:inline-block;
      width:360px;
      text-align: center;
      position: fixed;
      margin-left: 37%;
      margin-top:10%;
      z-index:1;
      border: 10px rgb(150, 89, 19) double;

  }
  .container{
z-index:0;
text-align: center;
align-content: center;
  }
  ng-template{
    text-align: center;
    align-content: center;
  }
  ngb-carousel{
    text-align: center;
    align-content: center;
  }
  img{
      width:100%;
  }
  .productContent{
    border: 2px rgb(94, 91, 91) dashed;
  }
  figcaption{
      position: relative;
      bottom:35px;
      color:white;
      size:2em;
      background-color: rgb(177, 99, 27)
  }
  .topButton{
      position:fixed;
      bottom:5%;
      right:5%;
  }